$on-hover-color: #78A91D;

$background-for-active-element: lightgray;

$header-height: 120px;
$sidebar-width: 97px;
$logo-width: 180px;

$logged-user-name-width:200px;
$logged-user-image-width:80px;
$logged-user-menu-trigger-width:50px;

$single_language_width: 120px;